@import "core/variables";
@import "core/colors";
@import "core/mixins";
@import "core/fonts";

.grid {
  display: grid;
  @include column-template(8);
  grid-auto-rows: $row-height;
  grid-column-gap: $column-gap;
  justify-content: center;
  &__column {
    display: grid;
    @include sub-column-template(8);
    border-left: 1px solid cyan;
    border-right: 1px solid cyan;
    background-color: lightcyan;
    div {
      border-right: 1px solid cyan;
      &:last-child {
        border: 0;
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  height: 100vh;
  &.grid {
    height: 100vh;
    .grid__column {
      height: 100vh;
    }
  }
}

.fl-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.fl-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  > * {
    flex-shrink: 0;
  }
}

.test-object-1 {
  @include width(60);
  @include left(9);
  @include height(58);
  @include top(10);
  background-color: black;
  .capsule {
    @include height(50);
    @include width(9);
    @include left(1);
    background-color: #1617e3;
    &:first-child {
      @include left(0.5);
    }
    .test {
      @include height(25);
      @include width(9);
      background-color: #009ec0;
    }
  }
}

.test-object-2 {
 grid-column: 2;
 grid-row: 100 / span 30;
 
 @include left(2);
 background-color: lightsalmon;
}

@media only screen and (max-width: 1580px) and (min-width: 1280px) {
  .test-object-1 {
    @include height(48);
    .capsule {
      @include height(40);
      .test {
        @include height(20);
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .test-object-1 {
    @include height(96);
    .capsule {
      @include height(42);
      @include width(18);
      @include left(2);
      .test {
        @include width(18);
        @include height(21);
      }
      &:first-child {
        @include left(1);
      }
      &:nth-child(4 + 0n) {
        margin-top: 8px;
        @include left(1);
      }
      &:nth-child(4) {
        @include left(1);
      }
    }
  }
}