/*
    # Mixins

    `core/_mixins.scss`
*/

@import "core/variables";

@mixin column-template($nOfColumn) {
    $grid-template-columns: ();
    @for $c from 1 through $nOfColumn {
        $grid-template-columns: append($grid-template-columns, $column-width);
    }
    grid-template-columns: $grid-template-columns;
}

@mixin sub-column-template($nOfColumn) {
    $grid-template-columns: ();
    @for $c from 1 through $nOfColumn {
        $grid-template-columns: append($grid-template-columns, $sub-column-width);
    }
    grid-template-columns: $grid-template-columns;
}

@mixin width($nOfSubCol) {
    width: $sub-column-width * $nOfSubCol;
}

@mixin height($nOfRows) {
    height: $row-height * $nOfRows;
}

@mixin left($nOfSubCol) {
    margin-left: $sub-column-width * $nOfSubCol;
}

@mixin top($nOfRows) {
    margin-top: $row-height * $nOfRows;
}